body {
  margin: 3em;
  background: black;
  color: white;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2 {
  display: inline;
  font-size: 2em;
  color: yellow;
  position: absolute;
  transform: rotate(45deg);
  animation: splash 1s ease-in infinite;
}

h1 {
  display: inline;
  font-size: 5em;
}

fieldset {
  display: inline;
}

a {
  color: red;
  font-size: 3em;
  user-select: none;
}

input {
  text-align: center;
  border-radius: 10em;
  border: 0.2em white solid;
  background: black;
  color: white;
  transition: box-shadow 1s;
}

input[type="number"]:focus {
  box-shadow: 0 0 1em 1em red;
}

input:checked {
  box-shadow: 0 0 0.3em 0.3em blue;
}

@keyframes splash {
  0% {
    font-size: 2em;
  }
  50% {
    font-size: 2.1em;
  }
  100% {
    font-size: 2em;
  }
}