body {
  margin: 10em;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


h2 {
  position: absolute;
  display: inline-block;
  font-size: 2em;
  color: yellow;
  margin-left: -0.5em;
  transform: rotate(45deg);
  animation: splash 1s ease-in infinite;
}
h1 {
  display: inline;
  font-size: 5em;
}

a {
  user-select: none;
}


input {
  text-align: center;
  border-radius: 10em;
  border: 0.2em black solid;
  transition: all 1s;
}

input:focus {
  border-radius: 1em;
  font-size: 2em;
  outline: 0;
}

a {
  color: red;
  font-size: 3em;
}

@keyframes splash {
  0% {
    font-size: 2em;
  }

  50% {
    font-size: 2.1em;
  }
  100% {
    font-size: 2em;
  }
}