@font-face {
  font-family: 'Doge Sans';
  src: url(https://dogeminer2.com/dogesans-regular-webfont.woff)
}

body {
  font-family: 'Doge Sans', sans-serif;
}

a {
  cursor: grab;
  text-decoration: none;
  border-bottom: 0.1em solid skyblue;
  font-size: 3em;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

a:active::after {
  position: fixed;
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: black;
  color: white;
  text-align: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  content: '↑ Drag to your bookmarks bar ↑';
}
